body {
    background-color: #62c2c8;
    font-family: 'Kanit', sans-serif;
  }

.app {
    background-color: white;
    min-height: 80vh;
    width: 400px;
    margin: 30px auto;
    font-family: 'Kanit', sans-serif;
}

.crossed {
  text-decoration: line-through 2px red;
  background-color: #f0f0f0;
  font-family: 'Kanit', sans-serif;
}

li, ul {
  list-style-type: none;
  padding: 10px;
  margin: 0;
  font-family: 'Kanit', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
}

.add {
  background: #65aa06;
  margin-top: 5px;
}

.delete {
  background: #d30100;
  margin-bottom: 5px;
}

.btn {
padding: 10px;
border: none;
width: 70%;
color: white;
font-size: 16px;
font-family: 'Montserrat', sans-serif;
}